@if(isAssessmentView){
<ng-container *ngTemplateOutlet="ngTemplateDetails"></ng-container>
}
@else{
<div class="d-flex flex-column overflow-hidden view-wrapper p-3">
    <div class="flex items-center gap-3 mb-4">
        <button (click)="goBack()"
            class="w-6 h-6 flex !rounded-lg items-center justify-center text-primary-40 border-1 border-gray-300 hover:bg-gray-200">
            <mat-icon class="back-icon material-symbols-outlined">arrow_back</mat-icon>
        </button>
        <div class="headline-medium my-auto">Preview</div>
    </div>
    <ng-container *ngTemplateOutlet="ngTemplateDetails"></ng-container>
    @if(isPublishMode){
    <div class="bg-white p-3 rounded mt-3">
        <div class="d-flex justify-between gap-2">
            <loading-button type="secondary" (onButtonClick)="onCancel()">
                <span>Cancel</span>
            </loading-button>
            @if(editAssessmentTemplate){
            <loading-button (onButtonClick)="onPublish()" [loading]="isPublishing" [loadingText]="'Publishing...'">
                <span>Publish</span>
            </loading-button>
            }
        </div>
    </div>
    }
</div>
}

<ng-template #ngTemplateDetails>
    <div class="rounded overflow-hidden h-100">
        @if(hasApiError){
        @if(templateId){
        <ng-container *ngTemplateOutlet="errorLoading"></ng-container>
        }
        @else{
        <ng-container *ngTemplateOutlet="templateNotFound"></ng-container>
        }
        }
        @else{
        <div class="h-100 overflow-auto scroll-w-0">
            @if(loading) {
            <div class="p-4">
                <div class="animate-pulse">
                    @for(i of [1,2,3]; track i) {
                    <div class="mb-3">
                        <div class="h-12 w-full shimmer rounded mb-2"></div>
                        <div class="pl-4">
                            <div class="h-4 w-3/4 shimmer rounded mb-2"></div>
                            <div class="h-10 w-full shimmer rounded"></div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }

            @else if(!templateDetails) {
            <div class="text-center py-10">
                <mat-icon class="material-symbols-outlined text-gray-400"
                    style="font-size: 48px;">description</mat-icon>
                <p class="body-large text-gray-600 mt-2">No template data available</p>
            </div>
            }
            @else {
            @for(section of templateDetails.sections; track sectionIndex; let sectionIndex = $index) {
            <div class="section-wrapper">

                <button
                    class="section-header w-full flex items-center justify-between p-3 bg-[#D0EBFA] cursor-pointer border-0"
                    (click)="toggleSection(section)">
                    <div class="flex items-center gap-2">
                        <span class="body-large">{{ sectionIndex + 1 }}</span>
                        <span class="body-large text-gray-900">
                            {{ section.sectionName ||section.section }}
                        </span>
                        <span class="label-medium text-gray-600">
                            ({{ section.totalQuestion || 0 }} question{{ section.totalQuestion !== 1 ? 's' : '' }})
                        </span>
                    </div>
                    <mat-icon class="material-symbols-outlined secondary-base-50">
                        {{ section.expanded ? 'arrow_drop_up' : 'arrow_drop_down' }}
                    </mat-icon>
                </button>

                @if(section.expanded) {
                <div class="bg-white p-4">

                    @if(section.description) {
                    <div class="section-description text-gray-900 mb-4" [innerHTML]="section.description | safeHtml ">
                    </div>
                    }

                    @for(question of section.questions; track qIndex; let qIndex = $index) {
                    <div class="question-wrapper mb-6">
                        <div class="flex justify-between items-center">
                            <div class="question-title text-gray-900 mb-3 inline-flex items-baseline gap-1">
                                <span class="body-large">{{ sectionIndex + 1 }}.{{ qIndex + 1 }}</span>
                                <span class="editor-content" [innerHTML]="question.text | safeHtml"></span>
                                @if(question.required) {
                                <span class="text-red-600">*</span>
                                }
                            </div>
                            @if(!isDraft){
                            @if(hasRuleByIndex(sectionIndex, qIndex) ) {
                            <button mat-mini-fab class="shadow-none bg-light mat-md-fab-btn border border-gray-200 "
                                (click)="openTemplateTriggerDrawer(section, question); $event.stopPropagation()"
                                [matBadge]="1" matBadgeOverlap="true" matBadgeColor="warn" matBadgeSize="small"
                                aria-label="Entity actions">
                                <mat-icon
                                    class="material-symbols-outlined mat-md-icon d-flex align-items-center cursor-pointer text-primary">flowchart</mat-icon>
                            </button>
                            }
                            @else {
                            <button mat-mini-fab class="shadow-none bg-light mat-md-fab-btn border border-gray-200"
                                (click)="openTemplateTriggerDrawer(section, question); $event.stopPropagation()">
                                <mat-icon
                                    class="material-symbols-outlined mat-md-icon  text-primary">flowchart</mat-icon>
                            </button>
                            }
                            }
                        </div>

                        @if(hasHelperText(question.helper)) {
                        <div class="question-helper text-gray-600 mb-2" [innerHTML]="question.helper | safeHtml"
                            (click)="onHelperContentClick($event)">
                        </div>
                        }


                        <div class="question-input">


                            @if(question.type === 'TEXT') {
                            <input type="text"
                                class="form-input w-full max-w-md p-2 border border-gray-300 rounded bg-white text-gray-600 body-medium"
                                placeholder="[your answer]" readonly disabled>
                            }


                            @if(question.type === 'TEXTAREA') {
                            <textarea
                                class="form-input w-full p-2 border border-gray-300 rounded bg-white resize-none text-gray-600 body-medium"
                                rows="3" placeholder="[your answer]" readonly disabled></textarea>
                            }



                            @if(question.type === 'SINGLE_SELECT' || question.type === 'MULTI_SELECT') {
                            <div class="options-list">
                                @for(option of question.options; track option.value; let i = $index) {
                                <div class="option-item flex items-center gap-2 py-1.5">
                                    <span class="body-medium text-gray-600 font-medium">{{ i + 1 }}.</span>
                                    <span class="body-large text-gray-900">{{ option.value }}</span>
                                </div>
                                }
                            </div>
                            }

                            @if(question.type === 'RADIO') {
                            <div class="options-list">
                                @for(option of question.options; track option.value) {
                                <div class="option-item flex items-center gap-2 py-1">
                                    <mat-icon
                                        class="material-symbols-outlined mat-md-icon text-grey">radio_button_unchecked</mat-icon>
                                    <span class="body-large text-gray-900">{{ option.value }}</span>
                                </div>
                                }
                            </div>
                            }

                            @if(question.type === 'CHECK_BOX') {
                            <div class="options-list">
                                @for(option of question.options; track option.value) {
                                <div class="option-item flex items-center gap-2 py-1">
                                    <mat-icon
                                        class="material-symbols-outlined mat-md-icon text-grey">check_box_outline_blank</mat-icon>
                                    <span class="body-large text-gray-900">{{ option.value }}</span>
                                </div>
                                }
                            </div>
                            }

                            @if(question.type === 'YES_NO') {
                            <div class="options-list">
                                <div class="option-item flex items-center gap-2 py-1">
                                    <mat-icon
                                        class="material-symbols-outlined mat-md-icon text-grey">radio_button_unchecked</mat-icon>
                                    <span class="body-large text-gray-900">Yes</span>
                                </div>
                                <div class="option-item flex items-center gap-2 py-1">
                                    <mat-icon
                                        class="material-symbols-outlined mat-md-icon text-grey">radio_button_unchecked</mat-icon>
                                    <span class="body-large text-gray-900">No</span>
                                </div>
                            </div>
                            }


                            @if(question.type === 'DATE_ONLY') {
                            <input type="date" class="form-input max-w-xs p-2 border border-gray-300 rounded bg-white"
                                readonly disabled>
                            }


                            @if(question.type === 'FILE_UPLOAD') {
                            <div
                                class="w-full max-w-md border-2 border-dashed border-gray-300 rounded-lg flex flex-col items-center justify-center text-center mt-2 ">
                                <div class="flex flex-col items-center justify-center p-3">
                                    <div
                                        class="w-10 h-8 rounded-full bg-gray-200 flex items-center justify-center border border-gray-300 mb-2">
                                        <mat-icon class="text-4xl text-gray-500 material-symbols-outlined">
                                            folder
                                        </mat-icon>
                                    </div>
                                    <p class="label-large"><span class="text-primary">Click here</span> or drag files to
                                        upload</p>
                                    <p class="body-medium text-gray-500">Supported file formats</p>
                                </div>
                            </div>
                            }
                        </div>


                        @if(question.comment || question.file) {
                        <div class="flex gap-2 mt-2">
                            @if(question.comment) {
                            <input type="text"
                                class="form-input w-full max-w-md p-2 border border-gray-300 rounded bg-white text-gray-600 italic body-medium"
                                placeholder="[Add Response here]" readonly disabled>
                            }

                        </div>
                        }
                    </div>
                    }


                    @if(!section.questions || section.questions.length === 0) {
                    <div class="text-center py-6 text-gray-500">
                        No questions in this section
                    </div>
                    }
                </div>
                }
            </div>
            }

            @if(!templateDetails.sections || templateDetails.sections.length === 0) {
            <div class="text-center py-10">
                <mat-icon class="material-symbols-outlined text-gray-400" style="font-size: 48px;">folder_off</mat-icon>
                <p class="body-large text-gray-600 mt-2">No sections found</p>
            </div>
            }
            }
        </div>
        }
    </div>
</ng-template>

<ng-template #errorLoading>
    <div class="d-flex flex-column rounded overflow-hidden h-100 bg-white justify-center">
        <error-loading-items [imgHeight]="'200px'"></error-loading-items>
    </div>
</ng-template>

<ng-template #templateNotFound>
    <div class="d-flex flex-column rounded overflow-hidden h-100 bg-white justify-center">
        <div class="text-center text-grey">
            <div class="label-large mb-1">
                No sections or questions have been added yet.
            </div>
        </div>
    </div>
</ng-template>

<mat-drawer-container class="right-sidebar mat-md-drawer fixed-drawer-container" [hasBackdrop]="true" autosize>
    <mat-drawer #templateTriggerDrawer mode="over" position="end" class="section-mat-drawer" [disableClose]="true">
        <app-trigger-drawer [editData]="selectedEditPayload" [isViewOnly]="true"
            (onClose)="templateTriggerDrawer.close()"></app-trigger-drawer>
    </mat-drawer>
</mat-drawer-container>