@use "../../../../../../styles/custom/colors.scss" as colors;
@use "../../../../../../styles/custom/typography.scss" as typography;

.custom-tab-group {
    ::ng-deep {
        .mat-mdc-tab-labels {
            position: relative;
            padding-right: 280px; // Space for action buttons
        }

        .mat-mdc-tab-label {
            color: colors.$secondary;
            font-weight: 500;

            &.mat-mdc-tab-label-active {
                color: colors.$primary;
            }
        }

        .mat-mdc-tab-body-content {
            overflow: visible;
        }
    }
}

.actions {
    right: 10px;
    top: 0;
    z-index: 10;
    pointer-events: auto;
}

.search {
    width: 220px !important;
    height: 32px !important;
}

.close-btn {
    height: 25px;
    width: 25px;
    padding: 0;
}

.wrapper {
    background: colors.$bg-light-grey;
    border-radius: 5px;
}

.main {
    font-size: typography.$fs-13;
}

::ng-deep .tab-container .mat-mdc-tab-header {
    width: 60% !important;
}