.progress-container {
  padding: 24px;
  width: 420px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.percentage {
  margin-top: 12px;
  text-align: right;
  font-size: 14px;
}
