<div class="d-flex flex-column  overflow-hidden view-wrapper p-3">
    <div class="flex justify-between">
        <div class="my-auto title-medium">
            Filter Template
        </div>
        <div class="my-auto">
            <button mat-icon-button (click)="closeDrawer()">
                <mat-icon class="material-symbols-outlined">close</mat-icon>
            </button>
        </div>
    </div>
    <div class="d-flex editor-wrapper overflow-hidden position-relative h-100 pb-0">
        <div class="col w-100 h-100 overflow-auto overflow-x-hidden main-canvas">

            <div class="my-2">
                <mat-form-field appearance="outline" class="w-full mat-sm-input">
                    <mat-label>Template Type</mat-label>
                    <mat-select [(ngModel)]="filterConfiguration.tempSelectedTemplateType" multiple>
                        @if(filterConfiguration.tempSelectedTemplateType.length>2){
                        <mat-select-trigger>
                            <span class="example-additional-selection">
                                {{filterConfiguration.tempSelectedTemplateType[0]?.name }}
                                (+{{(filterConfiguration.tempSelectedTemplateType.length || 0) - 1}}
                                {{filterConfiguration.tempSelectedTemplateType.length=== 2 ? 'other' :
                                'others'}})
                            </span>
                        </mat-select-trigger> }
                        @for (type of filterConfiguration.templateTypeList; track $index) {
                        <mat-option [value]="type">{{type.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            @if(showStatus){
            <div class="my-2">
                <mat-form-field appearance="outline" class="w-full mat-sm-input">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="filterConfiguration.tempSelectedStatus" multiple>
                        @if(filterConfiguration.tempSelectedStatus.length>2){
                        <mat-select-trigger>
                            <span class="example-additional-selection">
                                {{filterConfiguration.tempSelectedStatus[0]?.name }}
                                (+{{(filterConfiguration.tempSelectedStatus.length || 0) - 1}}
                                {{filterConfiguration.tempSelectedStatus.length=== 2 ? 'other' :
                                'others'}})
                            </span>
                        </mat-select-trigger> }
                        @for (status of filterConfiguration.statusList; track $index) {
                        <mat-option [value]="status">{{status.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            }
        </div>
    </div>

    <div class="d-flex justify-end mt-2">
        <div class="flex gap-2">
            <loading-button type="secondary" (click)="closeDrawer()">Cancel</loading-button>
            <loading-button (onButtonClick)="onApply()">Apply</loading-button>
        </div>
    </div>
</div>