@use "../../../../../styles/custom/colors.scss" as us;

.fontColor {
    color: us.$primary;
}


.mat-divider {
    border-top-color: #EEEEEE
}

.edit-wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
}

.risk-summary-drawer {
    width: 75% !important;
}

.main-wrapper {
    margin-top: 10px;
}