@use "../../../../../styles/custom/colors.scss" as colors;
@use "../../../../../styles/custom/typography.scss" as typography;

.fs-14 {
  font-size: typography.$fs-14;
}

.hr-bold {
  height: 5px;
  margin-top: 0px !important;
}

.card {
  height: 98%;
  background-color: colors.$body-bg;
  border: 1px solid colors.$light-grey-border;
  border-radius: 3px;
  overflow: hidden;
}

.custom-textarea {
  resize: none;
  overflow-y: auto;
  max-height: 3.5rem;
}

.add-icon {
  border-radius: 50%;
  font-size: typography.$fs-24;
}

.title {
  font-size: typography.$fs-13;
}

.section-title {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-section {
  background-color: colors.$light-grey-border;
  border-radius: 6px;
}

.section-content {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.preview-content {
  max-height: 350px;
  height: 305px;
  overflow-y: auto;
  overflow-x: hidden;
}

.save-icon {
  color: colors.$stage-success;
}

.cancel-icon {
  color: colors.$bg-danger;
}

.options {
  margin-left: 31px;
}

.option-label {
  background-color: colors.$light-primary;
}

.header-actions {
  position: absolute;
  right: 10px;
  margin-top: 25px;
  transform: translateY(-50%);
  display: flex;
  gap: 16px;
  z-index: 5;
  pointer-events: auto;
}

::ng-deep .custom-mat-tab-wrapper .mat-tab-wrapper {
  position: relative;
}

::ng-deep .custom-tab-group .mat-tab-header {
  padding-right: 180px;
}

::ng-deep .custom-tab-body .mat-tab-body-content-can-animate {
  overflow: hidden;
}

::ng-deep .custom-mdc-text-field .mdc-line-ripple,
::ng-deep .option-label .mdc-line-ripple,
::ng-deep .option-label .mat-mdc-form-field-bottom-align::before,
::ng-deep .option-label .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep
  .custom-mdc-text-field
  .mat-mdc-form-field.mat-focused
  .mdc-line-ripple,
::ng-deep .option-label .mat-mdc-form-field.mat-focused .mdc-line-ripple {
  display: block;
}

::ng-deep
  .custom-mdc-text-field
  .mat-md-input
  .mat-mdc-form-field-flex:not(:has(textarea)) {
  height: auto !important;
  width: 100% !important;
}

::ng-deep
  .custom-mdc-text-field
  .mat-md-input
  .mat-mdc-form-field-flex:not(:has(textarea))
  .mat-mdc-form-field-infix,
::ng-deep .custom-mdc-text-field .mdc-text-field {
  width: 100% !important;
  padding: 0 !important;
}

::ng-deep .option-label .mat-mdc-form-field-infix,
::ng-deep .custom-mdc-text-field .mat-mdc-form-field-infix {
  padding: 0 !important;
  margin: 0 !important;
  all: unset !important;
}

::ng-deep .option-label .mat-mdc-form-field .mat-mdc-text-field-wrapper {
  margin: 0 !important;
}

::ng-deep .option-label .mat-mdc-form-field .mat-mdc-form-field-infix {
  padding: 0 !important;
  margin: 0 !important;
  min-height: unset !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

