<h3 mat-dialog-title class="my-0  p-2 px-3">
  {{ isEditMode ? 'Edit Regulation' : 'Add Regulation' }}
</h3>
<button mat-icon-button tabindex="-1" class="close" (click)="onCancel()" aria-label="confirm dialog close button">
  <mat-icon class="fs-5 material-symbols-outlined">close</mat-icon>
</button>

<div mat-dialog-content class="m-0 p-3">
  <form [formGroup]="form">
    <div class="flex flex-wrap gap-6 ">

      <div class="flex flex-wrap gap-6 w-full ">
        <mat-form-field appearance="outline" class="flex-1 mat-sm-xl-input">
          <mat-label>{{ viewType ? 'Regulation' : 'Name' }}</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

      </div>
      <div class="flex flex-wrap gap-6 w-full">
        <mat-form-field appearance="outline" class="flex-1 mat-sm-xl-input">
          <mat-label>Jurisdiction</mat-label>
          <input matInput formControlName="jurisdiction" />
        </mat-form-field>
      </div>

      <div class="flex flex-wrap gap-6 w-full">
        <mat-form-field appearance="outline" class="flex-1 mat-sm-xl-input">
          <mat-label>Applicable Countries</mat-label>
          <mat-select formControlName="countries" multiple [compareWith]="compareCountries"
            (selectionChange)="updateSelectedCountriesText()">
            <mat-select-trigger>
              <div style="
                  display: block;
                  max-width: 97%;
                  white-space: nowrap;
                  overflow-x: hidden;
                  text-overflow: ellipsis;">
                {{ selectedCountriesText }}
              </div>
            </mat-select-trigger>

            <mat-option *ngFor="let country of countriesList" [value]="asCountryValue(country)">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex flex-wrap gap-6 w-full">
        <mat-form-field appearance="outline" class="flex-1 mat-sm-xl-input">
          <mat-label>Respond Time</mat-label>
          <input matInput type="number" formControlName="respondTime" />
        </mat-form-field>
      </div>

      <div class="flex flex-wrap gap-6 w-full">
        <mat-form-field appearance="outline" class="flex-1 mat-sm-xl-input">
          <mat-label>Extension Time</mat-label>
          <input matInput type="number" formControlName="extensionTime" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions class="flex justify-center">
  <div class="w-full flex justify-end gap-2 p-0">
    <loading-button type="secondary" (onButtonClick)="onCancel()" class="me-2">Cancel</loading-button>
<loading-button type="primary" (onButtonClick)="onSave()" [loading]="submitLoading">
  {{ isEditMode ? 'Update' : 'Save' }}
</loading-button>
  </div>
</div>