<div class=" h-100 overflow-hidden flex gap-2">
  <div class="flex-1 overflow-y-auto scroll-w-0 m-3">
    <div class="border !border-[#EEEEEE] rounded-md backgound-gray p-3 mb-3">
      <div class="grid grid-cols-12 label-medium text-gray">
        <div class="col-span-2 text-muted-gray">Assessment ID</div>
        <div class="col-span-2 text-muted-gray">Created On</div>
        <div class="col-span-3 text-muted-gray">Author</div>
        @if(!approver){
        <div class="col-span-2 text-muted-gray">Status</div>
        }
        <div class="col-span-3 text-muted-gray">Assessment Link</div>
      </div>

      <div class="grid grid-cols-12">
        <div class="col-span-2 body-large">{{assessmentId}}</div>
        <div class="col-span-2 body-large"> {{formatDateforCreatedOn(element?.createdOn)}}</div>
        <div class="col-span-3 body-large">{{element?.owner?.displayName || 'Unknown'}}</div>
        @if(!approver){
        <div class="col-span-2 body-large">{{(formatUserType(element?.status) | titlecase )|| 'N/A'}}</div>
        }
        <div class="col-span-3  d-flex">
          <span class="body-large truncate whitespace-nowrap overflow-hidden" (click)="onClickAssessmentLink()"
            [ngClass]="{'pointer text-primary hover:underline': selfRespondent}"
            [appEllipsisTooltip]="assessmentData?.uuid ?? ''" [maxWidth]="180" [matTooltip]="assessmentData?.uuid ??''"
            matTooltipPosition="below" matTooltipClass="material-tooltip"></span>
          <mat-icon class="material-symbols-outlined mat-md-icon text-primary pointer"
            (click)="onCopy()">file_copy</mat-icon>
        </div>
      </div>
    </div>

    @if(isAuthor){
    <div class="grid grid-cols-3 gap-3">
      <div class="bg-white rounded-lg p-2 border  !h-[270px]">
        <div class="flex justify-between items-center">
          <p class="body-large">Risks</p>
        </div>
        <echarts type="pie_risks" [pieStyle]="'donut'" [height]="'200px'" [seriesData]="riskChartData"
          [centerText]="totalRiskCount+'\nRisks'" class="w-full">
        </echarts>
      </div>
      <div class="bg-white rounded-lg p-2 border  !h-[270px]">
        <div class="flex justify-between items-center mb-2">
          <p class="body-large">Task Progress</p>
        </div>
        <echarts type="assessment_pie" [pieStyle]="'full'" [height]="'210px'" class=" w-full"
          [seriesData]="taskProgressData" [colors]="taskColors"></echarts>
      </div>
      <div class="bg-white rounded-lg p-2 border  !h-[270px]">
        <div class="flex justify-between items-center mb-2">
          <p class="body-large">Question Progress</p>
        </div>
        <echarts type="assessment_pie" [pieStyle]="'full'" [height]="'210px'" class="w-full" [seriesData]="questionData"
          [colors]="questionColors"></echarts>
      </div>
    </div>
    }
    <!-- <div class="bg-white rounded-lg p-2 border !h-[350px] mt-4">
         <div class="flex justify-between items-center mb-2">
           <p class="body-large">Daily Progress Trend</p>
         </div>
         <echarts type="line" [pieStyle]="'full'" [height]="'250px'" class="w-full" [seriesData]="dailyProgressData"
           [colors]="lineChartColors"></echarts>
         </div> -->
    <div class="mt-4 label-medium text-[#767676]">
      Assessment Title
    </div>
    <div class="mt-2 text-primary title-large">
      <span class="title-large truncate whitespace-nowrap overflow-hidden" [appEllipsisTooltip]="element?.name || ''"
        [colorType]="'primary'" [maxWidth]="800" [matTooltip]="element?.name || ''" matTooltipPosition="below"
        matTooltipClass="material-tooltip"></span>
    </div>
    <div class="mt-4 label-medium text-[#767676]">Description</div>
    <div class="mt-2 body-large">
      <span class="body-large block w-full break-words" [innerHTML]="(element?.description || ' -') | safeHtml"></span>
    </div>
    <div class="mt-4 label-small text-[#767676]">
      Assessment Age
    </div>
    <div class="body-large d-flex align-items-center gap-2">
      <span>{{assessmentAge}} </span>
      <!-- <button mat-mini-fab class="shadow-none bg-transparent mat-md-fab-btn" (click)="openEditStatus()">
            <mat-icon color="primary" class="text-primary material-symbols-outlined mat-md-icon">
              edit
            </mat-icon>
            </button> -->
    </div>
    <div class="flex flex-row gap-4">
      <div>
        <div class="mt-4 label-small text-[#767676]">
          Assessment Type
        </div>
        <button class="!bg-[#E5F6FD] label-small !rounded p-2 mt-2">
          Type : {{assessmentData?.assessmentType?.name ||''}}
        </button>
      </div>
      <div>
        <div class="mt-4 label-small text-[#767676]">
          Template Linked
        </div>
        <div class="!bg-[#F3F4F6] label-small !rounded p-2 mt-2" (click)="navigateTotemplateDetail()"
          [ngClass]="isInternalOrExternalUser?'':'pointer'">
          {{assessmentData?.templateName ||''}}
        </div>
      </div>
      <div>
        <div class="mt-4 label-small text-[#767676]">
          Classification
        </div>
        @if(assessmentData?.classification){
        <button class="!bg-[#F2FCD2] label-small !rounded p-2 mt-2">
          {{assessmentData?.classification}}
        </button>
        } @else{
        <button class="label-small !rounded p-2 mt-2">
          -
        </button>
        }
      </div>
    </div>
    <div class="flex flex-row gap-4">
      <div>
        <div class="mt-4 label-small text-[#767676]">
          Risk
        </div>
        <div class="mt-2 body-large">
          {{
          element?.riskMatrix === 'M3' ? '3 × 3 ' :
          element?.riskMatrix === 'M5' ? '5 × 5' :
          'N/A'
          }}
        </div>
      </div>
      <div>
        <div class="mt-4 label-small text-[#767676]">
          Complete By
        </div>
        <div class="mt-2 body-large">
          {{formatDate(element?.dueDate)}}
        </div>
      </div>
    </div>
    <div class="mt-4 title-small mb-3">
      Respondent
    </div>
    <div #scrollContainer class="flex-1 overflow-auto rounded-lg no-scrollbar border p-3">
      <ng-container *ngTemplateOutlet="respondentTable; context: { dataSource: respondentDataSource }">
      </ng-container>
    </div>
    <div class="mt-4 title-small mb-3">
      Approver
    </div>
    <div #scrollContainer class="flex-1 overflow-auto rounded-lg no-scrollbar border p-3">
      <ng-container *ngTemplateOutlet="approverTable; context: { dataSource: approverDataSource }">
      </ng-container>
    </div>
  </div>
  <div class="w-[380px] bg-[#F3F5F6] overflow-y-auto">
    <div class="p-3">
      <div class="title-small text-gray mb-4">
        Other Information
      </div>
      @if(!isVendorContext){
      <div class="bg-white rounded-lg p-3 mb-3 shadow-sm">
        <div class="justify-between d-flex label-medium">
          <div>Regulation </div>
          <div (click)="onClickRegulation()" class="pointer text-primary">View</div>
        </div>
        @for( reg of assessmentData?.regulationList;track $index){
        <div class="flex flex-wrap gap-2 mt-2">
          <div
            class="inline-flex items-center px-3 py-1 text-sm border border-primary text-primary rounded-full bg-primary/5 hover:bg-primary/10 cursor-pointer body-small ">
            {{reg.name}}
          </div>
        </div>
        }
        <div class="label-medium mt-3">
          Triggers
        </div>
        <div class="headline-large mt-1 text-primary">
          {{assessmentData?.triggerMappings?.length}}
        </div>
      </div>
      }
      <div class="bg-white rounded-lg p-3 mb-3 shadow-sm">
        <div class="justify-between  d-flex label-medium">
          <div> Total Tasks </div>
          <div (click)="viewTask()" class="pointer  text-primary">View</div>
        </div>
        <div class="headline-large mt-1 text-primary">
          {{assessmentData?.assessmentTaskCount}}
        </div>
      </div>
      <div class="bg-white rounded-lg p-3 shadow-sm">
        <div class="justify-between d-flex label-medium">
          <div> Total Risks </div>
          <div (click)="viewRisks()" class="pointer  text-primary">View</div>
        </div>
        <div class="headline-large mt-1 text-primary">
          {{assessmentData?.totalRiskCount}}
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #respondentTable let-dataSource="dataSource">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100 custom-table table table-md-row">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Respondent Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="userType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Type </th>
      <td mat-cell *matCellDef="let element">{{ formatUserType(element.userType) }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedHeaders"></tr>
  </table>
</ng-template>
<ng-template #approverTable>
  <table mat-table [dataSource]="approverDataSource" class="mat-elevation-z8 w-100 custom-table table table-md-row">
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef [style.width]="'230px'"> Level </th>
      <td mat-cell *matCellDef="let element" [style.width]="'230px'">
        Level {{ element.level }}
      </td>
    </ng-container>
    <ng-container matColumnDef="totalApprovers">
      <th mat-header-cell *matHeaderCellDef [style.width]="'230px'"> Total Approvers </th>
      <td mat-cell *matCellDef="let element" [style.width]="'230px'">
        {{ element.totalApprovers }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef [style.width]="'230px'"> Approvers Name </th>
      <td mat-cell *matCellDef="let element" [style.width]="'230px'">
        {{getFirstApproverName(element.names)}}
        @if(getApproversCount(element.names) > 0){
        <span class="text-primary pointer" [matTooltip]="getApproversTooltip(element.names)" matTooltipPosition="below"
          matTooltipClass="material-tooltip">
          + {{getApproversCount(element.names)}}
        </span>
        }
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="approverDisplayedHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: approverDisplayedHeaders"></tr>
  </table>
</ng-template>