.custom-tooltip {
  white-space: pre-line !important;
  max-height: 150px !important;
  min-height: 40px;
  overflow-y: auto !important;
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #ddd !important;
  padding: 6px 10px !important;
  border-radius: 6px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 13px;
  line-height: 1.4;
}


.mat-mdc-icon-button {
  width: 36px !important;
  height: 36px !important;
  line-height: 36px !important;
  margin: 0 2px;

  mat-icon {
    font-size: 18px;
  }
}

::ng-deep .multiline-tooltip {
  white-space: pre-line !important; /* respects \n */
  max-width: 400px;                  /* set width */
  word-break: break-word;            /* wrap long words */
  overflow-wrap: break-word;         /* safe fallback */
}



