<div class="h-full flex flex-col overflow-hidden">
  <div class="flex-1 overflow-auto rounded-lg no-scrollbar">
    @if(!requestLoading && hasApiError){
    <error-loading-items [imgHeight]="'200px'"></error-loading-items>
    }
    @else if(isEmptyRequest){
    <item-not-found [imgHeight]="'200px'" [heading]=errorTitle>
    </item-not-found>
    }
    @else{
    <ng-container *ngTemplateOutlet="ngTemplateTable; context: {}">
    </ng-container>
    }
  </div>
</div>

<ng-template #ngTemplateTable>
  <table mat-table [dataSource]="dataSource" matSort
    class="mat-elevation-z8 w-100 custom-table table table-layout-fixed" (matSortChange)="onSortChange($event)">
    <!-- NAME COLUMN -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]="'20%'">Name</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex">
          <span class="" [appEllipsisTooltip]="element.name" [colorType]="dataSubjectFullAcess ? 'primary' : 'default'"
            [maxWidth]="0" [matTooltip]="element.name" matTooltipPosition="below" matTooltipClass="material-tooltip"
            (click)="dataSubjectFullAcess && onView(element)">
            {{ element.name }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- DESCRIPTION COLUMN -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width]="'70%'">Description</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex">
          <span class="" [appEllipsisTooltip]="element.description" [maxWidth]="0" [matTooltip]="element.description"
            matTooltipPosition="below" matTooltipClass="material-tooltip">
            {{ element.description }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- ACTION COLUMN -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef [style.width]="'10%'">Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex gap-2">
          <mat-icon class="material-symbols-outlined mat-md-icon" [class.text-primary]="dataSubjectFullAcess"
            [class.text-grey]="!dataSubjectFullAcess" [class.cursor-pointer]="dataSubjectFullAcess"
            [style.opacity]="dataSubjectFullAcess ? '1' : '0.4'"
            (click)="dataSubjectFullAcess && onEdit(element)">edit</mat-icon>
          <mat-icon class="material-symbols-outlined mat-md-icon" [class.text-primary]="dataSubjectFullAcess"
            [class.text-grey]="!dataSubjectFullAcess" [class.cursor-pointer]="dataSubjectFullAcess"
            [style.opacity]="dataSubjectFullAcess ? '1' : '0.4'"
            (click)="dataSubjectFullAcess && onDelete(element)">delete</mat-icon>
        </div>
      </td>
    </ng-container>

    <!-- HEADER + ROWS -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>