@if(routeViewType == ROUTE_TYPE.INVITE_RESET_PASSWORD){
<ng-template [ngTemplateOutlet]="loaderSection"></ng-template>
}
@else{
<ng-template [ngTemplateOutlet]="setPasswordTemplate"></ng-template>
}

<ng-template #setPasswordTemplate>
  <div class="flex h-screen overflow-hidden">
    <!-- Left Panel -->
    <div class="w-1/2 flex flex-col bg-[#F8FAF9] relative">
      <app-left-panel-login-page></app-left-panel-login-page>
    </div>
    <!-- Right Panel -->
    <div class="w-1/2 bg-white rounded-tl-[20px] rounded-bl-[20px] flex flex-col h-full relative">
      <!-- Fixed Icon Section -->
      <!-- <div class="absolute top-20 left-1/2 transform -translate-x-1/2">
    </div> -->
      <div class="overflow-auto h-full flex justify-center items-center">
        <div class="max-w-md w-[405px] h-full flex flex-col justify-center">
          <!-- <div class="h-[10%] flex justify-center">
        </div> -->
          <div class="flex-col justify-center relative">
            <div class="flex mb-5 justify-center ">
              <div class="w-[70px] h-[70px] mt-auto rounded-full border border-gray-100 overflow-hidden relative
            flex items-center justify-center
            bg-white/60 backdrop-blur-[24px]">
                <div class="absolute inset-0 bg-[radial-gradient(circle,#D7F049_0%,transparent_70%)] opacity-40"></div>
                <img
                  [src]="VIEW_TYPE === SUCCESS_RESET_PASSWORD ? '/assets/images/right_icon.png' : '/assets/images/weui_lock-filled%20(1).png'"
                  alt="Icon" class="w-[44px] h-[44px] z-10" />
              </div>
            </div>

            <div class="my-auto w-full">
              @if(VIEW_TYPE == UPDATE_PASSWORD) {
              <div class="">
                <div class="display-small mb-3">Set a new password.</div>
                <p class="text-gray-600 title-medium mb-4">Create a strong password to protect your account.</p>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="w-full mb-4 mat-md-input">
                  <mat-label>New Password</mat-label>
                  <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                  <mat-icon matSuffix class="cursor-pointer material-symbols-outlined mat-md-icon"
                    (click)="togglePasswordVisibility()">
                    {{ showPassword ? 'visibility' : 'visibility_off' }}
                  </mat-icon>
                  @if(password.invalid){
                  <mat-error class="body-small text-error-40">{{passwordErrorMessage}}</mat-error>
                  }
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-4 mt-1 mat-md-input"
                  [style.marginTop.px]="password.hasError('pattern') ? 20 : 0">
                  <mat-label>Confirm New Password</mat-label>
                  <input matInput [type]="showConfirmPassword ? 'text' : 'password'"
                    formControlName="confirmPassword" />
                  <mat-icon matSuffix class="cursor-pointer material-symbols-outlined mat-md-icon"
                    (click)="toggleConfirmPasswordVisibility()">
                    {{ showConfirmPassword ? 'visibility' : 'visibility_off' }}
                  </mat-icon>
                  @if(confirmPassword.invalid){
                  <mat-error class="body-small text-error-40">
                    {{confirmPasswordErrorMessage}}
                  </mat-error>
                  }
                </mat-form-field>

                <div class="mt-1">
                  <loading-button [isFullWidth]="true" [isSubmitButton]="true" [disabled]="isLoading"
                    [loading]="isLoading">
                    Update Password
                  </loading-button>
                </div>
              </form>
              @if(showSkipLink){
              <div class="flex justify-center align-middle mt-3">
                <a class="text-sm text-primary hover:underline cursor-pointer" (click)="onClickSkipButton()">
                  Skip for now
                </a>
              </div>
              }
              }

              @else if(VIEW_TYPE == SUCCESS_RESET_PASSWORD) {
              <div class="">
                <div class="display-small mb-2">Password changed successfully</div>
                <p class="text-gray-600 title-medium">You can now log in using your new password.</p>
              </div>
              <loading-button [isFullWidth]="true" (onButtonClick)="returnLogin()">
                Return to Login
              </loading-button>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="w-full flex justify-center items-center">
        <app-footer-component></app-footer-component>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #loaderSection>
  <div class="text-center">
    <div class="d-flex flex-column pt-5 fixed-wrapper">
      <div class="google-loader mx-auto">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</ng-template>