 @use "../../../../styles/custom/colors.scss" as colors;

 .grid-box {
     .info-icon {
         position: absolute;
         right: 5px;
         top: 5px;
     }
 }
 .default-category-button {
  border: 1px solid colors.$border-color;
}

 .selected-button {
     background-color: #F8F8F8;
     color: colors.$primary !important;
     border: none;
     border-radius: 8px !important;
     height: 32px;
 }

 .request-selection {
  background-color: colors.$light;
}

 .default-button {
     background-color: white;
     color: #767676 !important;
     border: 1px solid #EEEEEE;
     border-radius: 8px !important;
     height: 32px;
 }


 .card-option {
     border-radius: 0.375rem;
     padding: 0.75rem;
     cursor: pointer;
 }

 .selected-card-option {
     border: none;
     background-color: colors.$light;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
 }

 .default-card-option {
     border: 1px solid colors.$med-grey;
 }

 .file-icon {
     font-size: 20px;
     width: 20px;
     height: 20px;
 }

 .delete-icn {
     font-size: 20px;
     width: 20px;
     height: 20px;
 }
 
.sticky-searchbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: colors.$body-bg !important;
}

.sticky-searchbar input {
  width: 100% !important;
  box-sizing: border-box;
}

::ng-deep .sticky-searchbar .search-select-panel .mat-mdc-select-panel {
    padding-top: 0 !important;
}

::ng-deep .sticky-searchbar .mat-mdc-select-panel {
    padding: 0 !important;
}

::ng-deep .sticky-searchbar .mat-mdc-optgroup-label {
    background: colors.$body-bg !important;
    padding: 4px !important;
    top: unset !important;
    width: 100% !important;
} 

::ng-deep .sticky-searchbar mat-mdc-optgroup-label .mdc-list-item__primary-text,
::ng-deep .sticky-searchbar .mdc-list-item__primary-text {
    width: 100% !important;
}

::ng-deep .search-select-panel.mat-mdc-select-panel {
    padding: 0px !important;
}

::ng-deep .material-tooltip {
  position: relative !important;
  background: #ffffff !important;
  color: #1c2b70;
  border-radius: 8px;
  font-size: 13px;
  max-width: 300px;
  overflow: visible !important;
  white-space: pre-line; 
}

::ng-deep .material-tooltip::after {
  content: "" !important;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

::ng-deep .mat-mdc-tooltip-panel-right .material-tooltip::after {
  left: -8px; 
  top: 40%;
  transform: translateY(-50%);
  border-width: 6px 8px 6px 0;
  border-color: transparent #E9EFEE transparent transparent;
}

::ng-deep .mat-mdc-tooltip-panel-left .material-tooltip::after {
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #E9EFEE;
}

::ng-deep .mat-mdc-tooltip-panel-above .material-tooltip::after {
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px 6px 0 6px;
  border-color: #E9EFEE transparent transparent transparent;
}

::ng-deep .mat-mdc-tooltip-panel-below .material-tooltip::after {
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #E9EFEE transparent;
}

::ng-deep .multiline-tooltip {
  white-space: pre-line !important; 
  max-width: 400px;                 
  word-break: break-word;           
  overflow-wrap: break-word;      
}


::ng-deep .tooltip-with-heading .mdc-tooltip__surface::first-line {
  font-weight: 600;
  line-height: 2;
}

.custom-textarea {
  overflow-y: auto !important;
}
