.close-btn {
    height: 25px;
    width: 25px;
    padding: 0;
}

.search {
    width: 220px !important;
    height: 32px !important;
}

::ng-deep .tab-container .mat-mdc-tab-header {
    width: 60% !important;
}